@model TayanaYachtMVC.Models.Domain.Yacht

@{
    ViewBag.Title = "刪除遊艇";
}

<h3>確定要刪除這艘遊艇嗎？</h3>
<div>
    <hr />
    <div class="row mb-3">
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(model => model.YachtName)</strong>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.YachtName)
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(model => model.ModelNumber)</strong>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.ModelNumber)
        </div>
    </div>



    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="刪除" class="btn btn-danger" />
                @Html.ActionLink("回列表", "Index", null, new { @class = "btn btn-secondary ms-2" })
            </div>
        </div>
    }
</div>
