@model IEnumerable<TayanaYachtMVC.Models.Domain.Yacht>

@{
    ViewBag.Title = "遊艇列表";
}

<div class="mb-3">
    @Html.ActionLink("新增遊艇", "Create", null, new { @class = "btn btn-primary" })
</div>
<style>
    #yachts-table td { vertical-align: middle; }
</style>
<table class="table" id="yachts-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YachtName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsLatest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.YachtName, "Edit", new { id = item.YachtID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsLatest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id = item.YachtID }, new { @class = "btn btn-outline-primary" })
            @Html.ActionLink("刪除", "Delete", new { id = item.YachtID }, new { @class = "btn btn-outline-danger" })
        </td>
    </tr>
}

</table>
