@model IEnumerable<TayanaYachtMVC.Models.Domain.Yacht>

@{
    ViewBag.Title = "遊艇列表";
}

<p>
    @Html.ActionLink("新增遊艇", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YachtName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsLatest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.YachtName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsLatest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.YachtID }) |
            @Html.ActionLink("詳細", "Details", new { id=item.YachtID }) |
            @Html.ActionLink("刪除", "Delete", new { id=item.YachtID })
        </td>
    </tr>
}

</table>
