@model TayanaYachtMVC.Models.Domain.NewsArticle

@{
    ViewBag.Title = "刪除新聞";
}

<h3>確定要刪除這篇新聞嗎？</h3>
<div>
    <hr />
    <div class="row mb-3">
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(model => model.Category.Name)</strong>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.Category.Name)
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(model => model.Title)</strong>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.Title)
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(model => model.PublishDate)</strong>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.PublishDate)
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(model => model.IsPublished)</strong>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.IsPublished)
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(model => model.IsPinned)</strong>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.IsPinned)
        </div>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="刪除" class="btn btn-danger" />
                @Html.ActionLink("回列表", "Index", null, new { @class = "btn btn-secondary ms-2" })
            </div>
        </div>
    }
</div>
