@model TayanaYachtMVC.Models.Domain.NewsArticle

@{
    ViewBag.Title = "刪除新聞";
}

<h3>確定要刪除這篇新聞嗎？</h3>
<div>
    <h4>新聞資料</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Category.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Category.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Title)</dt>
        <dd>@Html.DisplayFor(model => model.Title)</dd>

        <dt>@Html.DisplayNameFor(model => model.PublishDate)</dt>
        <dd>@Html.DisplayFor(model => model.PublishDate)</dd>

        <dt>@Html.DisplayNameFor(model => model.IsPublished)</dt>
        <dd>@Html.DisplayFor(model => model.IsPublished)</dd>

        <dt>@Html.DisplayNameFor(model => model.IsPinned)</dt>
        <dd>@Html.DisplayFor(model => model.IsPinned)</dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <input type="submit" value="確認刪除" class="btn btn-danger" />
        @Html.ActionLink("取消", "Index", null, new { @class = "btn btn-secondary ms-2" })
    }
</div>
