@model IEnumerable<TayanaYachtMVC.Models.Domain.NewsArticle>

@{
    ViewBag.Title = "新聞列表";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    @Html.ActionLink("新增新聞", "Create", null, new { @class = "btn btn-primary" })

    @using (Html.BeginForm("Index", "NewsArticles", FormMethod.Get, new { @class = "d-flex gap-2" }))
    {
        <input type="text" name="keyword" value="@ViewBag.Keyword" class="form-control" placeholder="搜尋標題..." />
        @Html.DropDownList("categoryId", (SelectList)ViewBag.CategoryId, "全部類別", new { @class = "form-select" })
        <button type="submit" class="btn btn-outline-secondary">搜尋</button>
        @Html.ActionLink("清空", "Index", null, new { @class = "btn btn-outline-danger" })
    }
</div>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Category.Name)</th>
        <th>@Html.DisplayNameFor(model => model.PublishDate)</th>
        <th>@Html.DisplayNameFor(model => model.IsPublished)</th>
        <th>@Html.DisplayNameFor(model => model.IsPinned)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.ActionLink(item.Title, "Edit", new { id = item.Id })</td>
        <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.PublishDate)</td>
        <td>@Html.DisplayFor(modelItem => item.IsPublished)</td>
        <td>@Html.DisplayFor(modelItem => item.IsPinned)</td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm" })
            @Html.ActionLink("刪除", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger btn-sm" })
        </td>
    </tr>
}

</table>
